ul {
  list-style: none;
  padding-inline-start: 0px;
  padding-left: 0px;
}

li {
  padding-top: 5vh;
  text-align: center;
}

#browser-single-copy, #editor-single-copy, #browser-double-copy, #editor-double-copy, #browser-triple-copy, #editor-triple-copy {
  font-weight: lighter;
  font-size: 22px;
  justify-content: center;
}

.clipboard-btn-custom {
  background-color: transparent;
  border-color: transparent;
  color: #1EDD88;
  margin-left: 0.8vw;
}

.clipboard-btn-custom:focus {
  outline: transparent;
  color: white;
  background-color: #1EDD88;
  border-radius: 4px;
}

.inline-text {
  display: flex;
  font-size: 28px;
  align-items: baseline;
  justify-content: center;
}

.btn-create-new {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #1EDD88;
  transition: background 0.3s ease;
  font-weight: 400;
  font-size: 20px;
}

.btn-create-new:hover {
  background: #1BCB7F;
  color: white;
  text-decoration: none;
}


@media only screen and (max-width: 768px) {

  #browser-single-copy, #editor-single-copy, #browser-double-copy, #editor-double-copy, #browser-triple-copy, #editor-triple-copy {
    font-size: 16px;
    max-width: 70vw;
    word-break: break-word;
  }

  ul {
    padding-inline-start: 0px;
    padding-left: 0px;
  }

  .inline-text {
    font-size: 18px;
  }

  .clipboard-btn-custom {
    font-size: 20px;
  }

  .btn-create-new {
    font-size: 16px;
    padding: 6px 14px;
  }

}

@media only screen and (min-width: 767px) and (max-width: 992px) {

  #browser-single-copy, #editor-single-copy, #browser-double-copy, #editor-double-copy, #browser-triple-copy, #editor-triple-copy {
    font-size: 16px;
    max-width: 70vw;
    word-break: break-word;
  }

  ul {
    padding-inline-start: 0px;
    padding-left: 0px;
  }

  .inline-text {
    font-size: 18px;
  }

  .clipboard-btn-custom {
    font-size: 18px;
  }

  .btn-create-new {
    font-size: 16px;
    padding: 8px 18px;
  }

}
