<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://lh3.googleusercontent.com/proxy/NYLCArHa8dmog3IaCmtJ7Kyn5--h-F81Dj1UJS0JuAHRMHfR6Ax9MspMOEdJi12ANDSuMPbayAKvvAwsaP3iFITOgNuqT5dpy6kyJIhH2yYrpEbSDGoFLdBDwY4" %>
  <% end %>
</div>
