<div class="container">
  <div class="card-category">
    <h1>Select the type of iframe:</h1>
      <div class="buttons-container">
        <%= link_to "single", new_single_path, class: "btn-single" %>
        <%= link_to "double", new_double_path, class: "btn-double" %>
        <%= link_to "triple", new_triple_path, class: "btn-triple" %>
      </div>
  </div>
</div>


