<div class="container">
  <div class="white-wrapper">
    <%= simple_form_for @single do |f| %>
      <div class="form-inputs">
        <%= f.input :element, error: 'This field is required' %>
        <%= f.input :iframe, error: 'This field is required' %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, 'Create', class: 'btn-submit-single' %>
      </div>
    <% end %>
  </div>
</div>
