.navbar-lewagon {
  align-items: baseline;
  justify-content: space-between;
  background: white;
  padding-right: 2vw;
  color: #d1d1d1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.fa-heart {
  color: #D23333;
}

@media only screen and (max-width: 768px) {

  .uba {
    font-size: 10px;
    margin-right: 15px;
  }

  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {

  .uba {
    font-size: 14px;
    margin-right: 15px;
  }

}
